bitsandbytes
pubchempy
rdkit
chembl_webresource_client
rcsb-api
deepchem
dockstring
openbabel-wheel
gliner[tokenizers]
sentence-transformers
gradio
torch
matplotlib
pillow 
gradio-client
transformers
huggingface-hub
dockstring
openbabel-wheel
ddgs
numpy
elevenlabs
lightgbm
tf-keras
tensorflow
accelerate